.row {
    height: 100px;
}

#board {
    width: 350px;
    position: relative;
    margin: 0 auto;
}

#game {
    min-width: 380px;
}

#line {
    position: absolute;
    width: 300px;
    left: 25px;
    top: 140px;
    border: 5px solid rgb(140, 247, 0);
    visibility: hidden;
    z-index: 10;
}

img {
    padding-top: 5px;
    height: 90px;
}
